nav {
    height: 50px;
    width: 100%;
    border-radius: 20px;
    border: 3px solid black;
    position: relative;
    background-color: white;

}

nav a {
    font-size: 20px;
    color: black;
    font-weight: bold;
    /* padding: 20px; */
    text-decoration: none;
}

.nav-pages-title {
    display: inline-block;
    float: right;
    margin: 10px;
    margin-top: -15px;
}

.nav-pages-title a:hover {
    color: rgb(0, 0, 230);
}

.hat-logo {
    height: 50px;
    width: 50px;
    float: left;
    padding: 0px;
    margin-top: 0px;
    border-radius: 15px;
    background-color: aliceblue;
}

.air-jordan-sale {
    height: 50px;
    width: 50px;
    padding: 0px;
    margin-top: 0px;
    border-radius: 15px;
    background-color: aliceblue;
}

.vans-tank-top-sale {
    height: 50px;
    width: 50px;
    padding: 0px;
    margin-top: 0px;
    border-radius: 15px;
    background-color: aliceblue;
}

.cart-img {
    display: inline-block;
    float: right;
    margin-left: 3px;
    margin-right: 10px;
    margin-top: -6px;
}

.outer-sale-box {
    margin: 30px 10px 30px 30px;
    height: 200px;
    width: 650px;
    background-color: rgb(255, 255, 6);
    display: inline-block;
    border: 3px solid white;
    border-radius: 15px;
}

.outer-sale-box a {
    font-size: large;
    color: black;
    font-weight: bold;
    padding: 20px;
    margin: 50px;
    align-content: center;
    text-decoration: none;
}

.inner-sale-box {
    text-align: center;
    font-size: large;
    margin: 50px;
    margin-top: 20px;
    height: 160px;
    width: 320px;
    margin-left: 45px;
    margin-right: 45px;
    background-color: white;
    display: inline-block;
    border: 3px solid black;
    border-radius: 15px;
}

.inner-sale-box a {
    font-size: 40px;
    color: black;
    font-weight: bold;
    padding: 20px;
    align-content: center;
    text-decoration: none;
}

.outer-sale-box img {
    height: 150px;
    width: 230px;
}

footer {
    text-align: center;
}