body {
    width: 80%;
    position: relative;
    left: 10vw;
}

#current-tasks-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 100%;
    width: 100%;
}